body {
  font-family: "Roboto", sans-serif !important;
  background-image: url("img/pozadina.jpg");
  background-size: cover;
  background-position: center;
}

/* LEVA STRANA */
.leva-strana {
  height: 92.1vh;
}

.bg-primary {
  background-color: #2a8cce !important;
}

.btn-primary {
  background-color: #2a8cce !important;
}

.w-30 {
  width: 280px;
}

.grb {
  width: 600px;
  height: 600px;
  object-fit: contain;
}

/* DESNA STRANA */
.forma-pozadina {
  background-color: rgba(0, 0, 0, 0.6);
  border-left: 1px solid black;
  padding: 2rem;
}

.profilna-slika {
  width: 130px;
  height: 130px;
  object-fit: fill;
  border-radius: 50%;
}

#pin {
  color: white;
}

#pin::placeholder {
  color: #bebdbd;
}

/* ADMIN PANEL CSS */
.hover-bg:hover {
  background-color: rgba(0, 123, 255, 0.2);
  transition: background-color 0.3s ease;
}

.profilna-panel {
  width: 40px;
  height: 40px;
  object-fit: fill;
  border-radius: 50%;
}
